*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

body {
    line-height: 1.6;
    background-color: rgb(218, 251, 255);    
}

.navbar{
    background-color:blue;
    padding: 25px;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 350px;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: rgb(0, 247, 255);
 }

 .rodape {
    background-color:blue;
    color:blue;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    position: relative;
    bottom: 0;
    width: 100%;
}


form {
    background-color: blue; 
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


label {
    display: block;
    margin-bottom: 8px;
    color: white; 
    font-family: Arial, sans-serif;
}


input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8); 
}


button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007BFF; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


button[type="submit"]:hover {
    background-color: #0056b3; 
}
main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin: 2rem 0;
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    
}

.imagem img {
    position: relative;
    left: 40px;
}